.container {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.create-space {
    display: grid;
    grid-template-rows: 2fr 2fr;
}

.image-preview {
    overflow-y: scroll;
    height: 100vh;
}

.image-wrapper {
    background-color: darkgray;
    border: solid azure;
}